* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Playfair Display', serif;
}

body {
    background-color: #FFF2C2;
    padding-top: 134px;
}

::-webkit-input-placeholder {
    color: #FFF2C2;
}

header h1 {
    font-weight: bold;
    font-size: 64px;
    color: #329211;
}

form {
    display: flex;
    background-color: #31921183;
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
}

form button {
    cursor: pointer;
}

form input, button {
    color: #FFF2C2;
    background-color: #204601;
    font-size: 18px;
    border: none;
    padding: 8px;
    border-bottom: 5px solid #152c01;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding-left: 180px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 78px;
    margin-right: 16px;
}

table {
    table-layout: fixed;
    width: 100%; 
    border-collapse: collapse /* Alteração */
}

table th {
    border-bottom: 2px solid #152c0157;
}

table #infTable {
    text-align: center;
    background-color: #3192113b;
    font-size: 25px;
}

table #indTable {
    background-color: #319211b6;
    color: #204601;
    font-size: 32px;
}

